@page "/DulPagerTest"
@page "/DulPagerTest/Page/{Page}"

@inject NavigationManager NavigationManager

<h3>DulPagerTest</h3>

페이지: @Page
<hr />

@*<DulPager Model="pager" PageChanged="@PagerPageChanged"></DulPager>*@
<DulPager.DulPagerComponent  Model="pager" PageIndexChanged="@PagerPageChanged"></DulPager.DulPagerComponent>

@code {
    DulPager.DulPagerBase pager = new DulPager.DulPagerBase() 
    { 
        RecordCount = 25,
        PageNumber = 2, 
        Url = "/DulPagerTest", 
        SearchMode = false, 
        SearchField = "Name", 
        SearchQuery = "홍길동", 
        //PageCount = 5, 
        PagerButtonCount = 5,
        PageSize = 5        
    };

    [Parameter]
    public string Page { get; set; } = "1";

    private string _page = "abcd";

    protected void PagerPageChanged(int page)
    {
        _page = page.ToString();

        //NavigationManager.NavigateTo("/DulPagerTest/Page/" + page.ToString());
    }
}
